<h2>Your Notes:</h2>
<form action="/notes" method="POST">
<table width="50%" class="center">
  <tr>
  	<th>Need to study?</th>
    <th>Title</th>
    <th>Class</th>
    <th>Note</th>
    <!-- <th>Delete</th> -->
  </tr>
  {{#each n as |no|}}
  <tr>
  	<td><input type="checkbox" id="study" name={{no.noteT}}/> study</td>
	 <td>{{no.noteT}}</td>
    <td>{{no.noteC}}</td>
    <td>{{no.bodyOfNotes}}</td>
    <!-- <td><input class="button" type="submit" name ={{no.noteT}} value="Delete"></td> -->
  </tr>
  {{/each}}

</table>

<div>
 <a href = 'data:text/plain;charset=utf-8,{{dat}}' class="link" download = "notes.txt" type="submit" name="download" >Download</a>
<input class="button" type="submit" value="Add Selected to Study Tab">
</div>
</form>
<div>If downloaded your notes can be found in the file notes.txt</div>