{{#if user}}
<h3 class="success">Currently logged in as: {{user.username}}</h3>
<h2> Your classes are </h2>
<table width="50%" class="center">
  <tr>
    <th>Name</th>
    <th>Time</th>
    <th>Days</th>
  </tr>
  {{#each user.classes as |cl|}}
  <tr>
	 <td>{{cl.name}}</td>
    <td>{{cl.time}}</td>
    <td>{{cl.days}}</td>
  </tr>
  {{/each}}

</table>
{{else}}
<h2>Please <a href="/reg">register</a> or <a href="login">login</a> if you already have an account</h2>
{{/if}}